*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#name{
    background-color: rgb(24, 17, 6);
    color: white;
    font-size: 100px;
    padding: 20px;
}

#titulo{
    padding-top: 50px;
    font-size: 40px;
    padding-bottom: 5px;
    text-align: center;
}

#cansancio{
    background-color: blue;
    text-align: left;
    padding: 30px;
}

#desper{
    background-color: white;
    text-align: right;
    padding: 30px;
}

#realizacion_per{
    background-color: aqua;
    text-align: center;
    padding: 30px;
}